#include "resource.h"
ID_Menu MENU
{
    POPUP "&File"
    {
        MENUITEM "New\aCtrl+N", ID_New
        MENUITEM "Open\aCtrl+O", ID_Open
        MENUITEM "Save\aCtrl+S", ID_Save
        MENUITEM "Save As\aCtrl+Shift+S", ID_SaveAs
        MENUITEM "Exit\aAlt+F4", ID_Exit
    }
    POPUP "&Edit"
    {
        MENUITEM "Hide Line Numbering",         ID_lh
        MENUITEM "Show Line Numbering",         ID_ls
        MENUITEM "Properties",                  ID_Pro
    }
}

